# === GLOBAL IGNORE ===
.DS_Store
*.log

# === ENV FILES ===
**/.env

# === MAVEN / JAVA BACKEND ===
**/target/
**/.mvn/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
/backend/src/main/java/com/recette/allenchang/backend/security/

# === FRONTEND - Xcode / Swift (frontend-ios) ===
**/DerivedData/
**/build/
**/*.xcworkspace
**/*.xcodeproj/project.xcworkspace/
**/*.xcodeproj/xcuserdata/
**/*.xcodeproj/project.xcsettings
**/*.xcuserstate
**/xcuserdata/
**/xcshareddata/
**/*.swiftpm
**/.dsym
**/*.ipa
**/apollo-codegen-config
frontend-ios/Generated/
apollo-ios-cli
**/frontend-ios/Assets.xcassets/*/*.png
frontend-ios/utilities/Network.swift
frontend-ios/utilities/AuthManager.swift
frontend-ios/utilities/Config.swift

# === VS Code ===
**/.vscode/

# === TEST REPORTS ===
**/surefire-reports/
**/jacoco.exec

# === BACKEND CONFIG FILES ===
backend/application-test.properties

# === GIT ===
*.swp
*.swo
